<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>lista de autores</h1>
    
    <p>
        <form method="GET">{% csrf_token %}
            <input type="text" id="kword" name="kword" placeholder="ingrese nombre">
            <button type="submit">Consultar</button>

        </form>
    </p>
    {% for a  in lista_autores2 %}
        <li>
            {{a.nombre}} -{{a.apellidos}} - {{a.nacionalidad}} -{{a.edad}}
        </li>
    {% endfor %}
        
</body>
</html>