<div class="full-width" style="background: #FF9900">
    <div class="container" style="background: #FF9900" >

        <div class="col-lg-4 hidden-xs" style="background: transparent">
            <br>
          <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FIngles-UNFV-Anexo-8%2F1539715492961734%3Fref%3Dhl&amp;width&amp;height=427&amp;colorscheme=dark&amp;show_faces=false&amp;header=true&amp;stream=true&amp;show_border=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:427px;background:white" allowTransparency="true"></iframe>
            </div>
        <div class="col-lg-4 text" style="color: white">
            <br><br>
            <p style="font-size: 24px;font-weight:  500">Informes</p>
            <p>(+51) 748-0888 Anexo: 8740<br>Secretaria: 8741-8824</p>
            <p style="font-size: 24px;font-weight:  500">Contactenos</p>
            <p>unfvproyectoingles@hotmail.com</p>
            <p style="font-size: 24px;font-weight:  500">Direccion</p>
            <p>Av. Óscar R. Benavides (ex Colonial) 450, Lima</p>
             <p style="font-size: 24px;font-weight:  500">Mas informacion </p>
             <a href="https://www.facebook.com/eduardocarlos.peraltaquicano?fref=ts"><p style="color: white">ContactenosEnFacebook</p></a>
        </div>
        <div class="col-lg-4">
            <br> <div class="hidden-xs">   <br><br><br><br><br><br><br></div>
            <img src="img/bot.png" class="img-responsive">
        </div>
        <div class="col-lg-12" style="text-align:right;border-top: 1px solid white">
            <small style="color: white;">
                Copyright @ 2015 - UNFV - FIIS
            </small>
        </div>
    </div>
</div>