
<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar navbar-dark bg-primary navbar-expand-md fixed-top">
        <!-- <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top"></nav> -->
          <a class="navbar-brand" href="{% url 'autor_app:inicio' %}">Biblioteca</a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!-- <div class="dropdown show">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown link
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item bg-info" href="#">Listar</a>
                  <a class="dropdown-item bg-danger" href="#">Modificar</a>
                  <a class="dropdown-item bg-warning" href="#">Agregar</a>
                  <a class="dropdown-item" href="#">Eliminar</a>
                </div>
              </div> -->
              <li class="nav-item active">

                <a class="nav-link" href="{% url 'autor_app:listar-autores' %}">Autores<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'libro_app:listar-libros' %}">Libros</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'lector_app:listar-lectores' %}">Lectores</a>

              </li>
              <li class="nav-item active">
                <a class="nav-link" href="">Prestamos</a>

              </li>

            </ul>
            <div>

              <form class="form-inline my-2 my-lg-0">
                <input class="form-control  mr-sm-2" type="search" placeholder="" aria-label="Search">
                <button class="btn btn-dark" type="submit">Buscar</button>
              </form>
            </div>
          </div>
        </nav>


    </div>
  </div>
</div>
